In [1]:
# Required Libraries import 
import pandas as pd
import numpy as np

In [2]:
# Load The Dataset
data=pd.read_excel("../notebooks/data/train.xlsx")

In [3]:
# It shows top 5 records
data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,New Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [5]:
# Describe the Data
data.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [6]:
data[["Airline"]].value_counts()

Airline
Jet Airways                          3849
IndiGo                               2053
Air India                            1752
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: count, dtype: int64

In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [9]:
train_data=pd.read_excel("../notebooks/data/train.xlsx")
test_data=pd.read_excel("../notebooks/data/test.xlsx")

In [11]:
x_train,y_train=train_test_split((train_data),test_size=0.25,random_state=40)

In [12]:
x_train

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
835,Jet Airways,18/05/2019,Kolkata,Banglore,CCU → BOM → BLR,16:30,18:15 19 May,25h 45m,1 stop,In-flight meal not included,10844
9541,Jet Airways,27/03/2019,New Delhi,Cochin,DEL → MAA → BOM → COK,05:10,04:25 28 Mar,23h 15m,2 stops,In-flight meal not included,9412
4182,Jet Airways,15/03/2019,Mumbai,Hyderabad,BOM → HYD,10:20,11:50,1h 30m,non-stop,No info,8040
6409,Air India,21/03/2019,Mumbai,Hyderabad,BOM → HYD,21:05,22:25,1h 20m,non-stop,No info,2050
10244,Jet Airways,9/05/2019,Kolkata,Banglore,CCU → BOM → BLR,08:25,16:20,7h 55m,1 stop,No info,13941
...,...,...,...,...,...,...,...,...,...,...,...
7839,SpiceJet,15/03/2019,Kolkata,Banglore,CCU → BLR,06:55,09:35,2h 40m,non-stop,No check-in baggage included,3815
3603,Multiple carriers,9/03/2019,New Delhi,Cochin,DEL → BOM → COK,00:20,12:55,12h 35m,1 stop,In-flight meal not included,18260
5959,IndiGo,9/03/2019,New Delhi,Cochin,DEL → BOM → COK,18:35,01:35 10 Mar,7h,1 stop,No info,12351
5426,SpiceJet,9/04/2019,Kolkata,Banglore,CCU → BLR,17:10,19:40,2h 30m,non-stop,No info,3873
7608,SpiceJet,6/05/2019,Mumbai,Hyderabad,BOM → HYD,22:45,00:15 07 May,1h 30m,non-stop,No check-in baggage included,2175

In [14]:
Airline = pd.get_dummies('Airline', drop_first=True,dtype="int64")
Source = pd.get_dummies('Source', drop_first= True,dtype="int64")
Destination = pd.get_dummies('Destination', drop_first = True,dtype="int64")

In [15]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
df=pd.read_excel("../notebooks/data/train.xlsx")
ohe=OneHotEncoder()
features_array=ohe.fit_transform(df[["Airline","Source","Destination"]]).toarray()

In [16]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,New Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [18]:
features_array

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.]])

In [58]:
features_array.shape

(10683, 22)

In [88]:
feature_labels=ohe.categories_

In [69]:
features_array.shape

(10683, 22)

In [1]:
feature_labels

NameError: name 'feature_labels' is not defined

In [91]:
feature_labels=np.array(feature_labels,dtype=object).ravel()

In [93]:
feature_labels=np.concatenate(feature_labels)

In [94]:
feature_labels.shape

(22,)

In [95]:

features=pd.DataFrame(features_array,columns=feature_labels)

In [96]:
new_df=pd.concat([df,features],axis=1)

In [97]:
new_df.head(5)

       Airline Date_of_Journey     Source  ... Hyderabad Kolkata New Delhi
0       IndiGo      24/03/2019   Banglore  ...       0.0     0.0       1.0
1    Air India       1/05/2019    Kolkata  ...       0.0     0.0       0.0
2  Jet Airways       9/06/2019  New Delhi  ...       0.0     0.0       0.0
3       IndiGo      12/05/2019    Kolkata  ...       0.0     0.0       0.0
4       IndiGo      01/03/2019   Banglore  ...       0.0     0.0       1.0

[5 rows x 33 columns]

In [98]:
new_df.shape

(10683, 33)

In [4]:
import pandas as pd
import numpy as np
df=pd.read_excel("../notebooks/data/train.xlsx")
 
def preprocess_data(df:pd.DataFrame):
     
    
        
    # Feature engineering
    # Extracting the hour, minute, and day information from 'Date_of_Journey'
    df['Journey_Day'] = pd.to_datetime(df['Date_of_Journey'],format='%d/%m/%Y').dt.day
    df['Journey_Month'] = pd.to_datetime(df['Date_of_Journey'],format='%d/%m/%Y').dt.month
    df.drop('Date_of_Journey', axis=1, inplace=True)

    # Splitting 'Dep_Time' and 'Arrival_Time' into hours and minutes
    df['Dep_Hour'] = pd.to_datetime(df['Dep_Time']).dt.hour
    df['Dep_Minute'] = pd.to_datetime(df['Dep_Time']).dt.minute
    df.drop('Dep_Time', axis=1, inplace=True)

    df['Arrival_Hour'] = pd.to_datetime(df['Arrival_Time']).dt.hour
    df['Arrival_Minute'] = pd.to_datetime(df['Arrival_Time']).dt.minute
    df.drop('Arrival_Time', axis=1, inplace=True)

    # Converting 'Duration' into hours and  minutes
    df["Duration_Hour"]=df["Duration"].str.split(' ').str[0].str.split('h').str[0]
    df["Duration_Minute"]=df["Duration"].str.split(' ').str[1].str.split('m').str[0]
    df["Duration_Hour"].replace('5m',5, inplace=True)
    df["Duration_Minute"].replace(np.nan,0, inplace=True)
    df["Duration_Hour"]=df["Duration_Hour"].astype(int)
    df["Duration_Min"]=df["Duration_Minute"].astype(int)
    df.drop(['Duration'], axis=1, inplace=True)

    return df


df_preprocess=preprocess_data(df)

C:\Users\DELL\AppData\Local\Temp\ipykernel_17608\4005507487.py:16: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Dep_Hour'] = pd.to_datetime(df['Dep_Time']).dt.hour
C:\Users\DELL\AppData\Local\Temp\ipykernel_17608\4005507487.py:17: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Dep_Minute'] = pd.to_datetime(df['Dep_Time']).dt.minute
C:\Users\DELL\AppData\Local\Temp\ipykernel_17608\4005507487.py:20: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Arrival_Hour'] = pd.to_datetime(df['Arrival_Time']).dt.hour
C:\Users\DELL\AppData\Local\Temp\ipykernel_17608\4005507487.py:21: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Arrival_Minute'] = pd.to_datetime(df['Arrival_Time']).dt.minute
C:\Users\DELL\AppData\Local\Temp\ipykernel_17608\4005507487.py:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Duration_Hour"].replace('5m',5, inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_17608\4005507487.py:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Duration_Minute"].replace(np.nan,0, inplace=True)

In [5]:
df_preprocess.head()

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month,Dep_Hour,Dep_Minute,Arrival_Hour,Arrival_Minute,Duration_Hour,Duration_Minute,Duration_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,24,3,22,20,1,10,2,50,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info,7662,1,5,5,50,13,15,7,25,25
2,Jet Airways,New Delhi,Cochin,DEL → LKO → BOM → COK,2 stops,No info,13882,9,6,9,25,4,25,19,0,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,1 stop,No info,6218,12,5,18,5,23,30,5,25,25
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,1 stop,No info,13302,1,3,16,50,21,35,4,45,45

In [1]:
pip install ipykernel

Requirement already satisfied: ipykernel in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (6.29.5)
Requirement already satisfied: comm>=0.1.1 in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from ipykernel) (0.2.2)
Requirement already satisfied: debugpy>=1.6.5 in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from ipykernel) (1.8.5)
Requirement already satisfied: ipython>=7.23.1 in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from ipykernel) (8.27.0)
Requirement already satisfied: jupyter-client>=6.1.12 in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from ipykernel) (8.6.3)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from ipykernel) (5.7.2)
Requirement already satisfied: matplotlib-inline>=0.1 in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from ipykernel) (0.1.7)
Requirement already satisfied: nest-asyncio in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from ipykernel) (1.6.0)
Requirement already satisfied: packaging in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from ipykernel) (24.1)
Requirement already satisfied: psutil in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from ipykernel) (6.0.0)
Requirement already satisfied: pyzmq>=24 in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from ipykernel) (26.2.0)
Requirement already satisfied: tornado>=6.1 in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from ipykernel) (6.4.1)
Requirement already satisfied: traitlets>=5.4.0 in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from ipykernel) (5.14.3)
Requirement already satisfied: decorator in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from ipython>=7.23.1->ipykernel) (5.1.1)
Requirement already satisfied: jedi>=0.16 in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.19.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from ipython>=7.23.1->ipykernel) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from ipython>=7.23.1->ipykernel) (2.18.0)
Requirement already satisfied: stack-data in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.6.3)
Requirement already satisfied: colorama in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.4.6)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from jupyter-client>=6.1.12->ipykernel) (2.9.0.post0)
Requirement already satisfied: platformdirs>=2.5 in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel) (4.3.3)
Requirement already satisfied: pywin32>=300 in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel) (306)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel) (0.8.4)
Requirement already satisfied: wcwidth in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=7.23.1->ipykernel) (0.2.13)
Requirement already satisfied: six>=1.5 in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from python-dateutil>=2.8.2->jupyter-client>=6.1.12->ipykernel) (1.16.0)
Requirement already satisfied: executing>=1.2.0 in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (2.4.1)
Requirement already satisfied: pure-eval in e:\data_science\internship\project1\flight_fare_prediction\.env\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pickle
import pandas as pd

with open ("E:/Data_Science/Internship/Project1/Flight_Fare_Prediction/Artifacts/preprocessor.pkl","rb") as file:
    model=pickle.load(file)


print(model.keys())

AttributeError: 'ColumnTransformer' object has no attribute 'keys'